**Decision tree algorithm on  play_tennis.csv.**

In [ ]:
import pandas as pd

In [ ]:
tennis=pd.read_csv('play_tennis.csv')

In [ ]:
tennis

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [ ]:
df1=tennis.drop(columns='day')
df1

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [ ]:
play=tennis['play']
play

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: play, dtype: object

#preprocessing

In [ ]:
tennis.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [ ]:
len(tennis)

14

In [ ]:
tennis.shape

(14, 6)

In [ ]:
tennis.tail()

    day   outlook  temp humidity    wind play
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [ ]:
tennis.describe()

       day outlook  temp humidity  wind play
count   14      14    14       14    14   14
unique  14       3     3        2     2    2
top     D1   Sunny  Mild     High  Weak  Yes
freq     1       5     6        7     8    9

In [ ]:
from sklearn import preprocessing
string_to_int= preprocessing.LabelEncoder()                     
df=tennis.apply(string_to_int.fit_transform) 
df

    day  outlook  temp  humidity  wind  play
0     0        2     1         0     1     0
1     6        2     1         0     0     0
2     7        0     1         0     1     1
3     8        1     2         0     1     1
4     9        1     0         1     1     1
5    10        1     0         1     0     0
6    11        0     0         1     0     1
7    12        2     2         0     1     0
8    13        2     0         1     1     1
9     1        1     2         1     1     1
10    2        2     2         1     0     1
11    3        0     2         0     0     1
12    4        0     1         1     1     1
13    5        1     2         0     0     0

In [ ]:
X=df.drop(columns='play',axis=1)
X

    day  outlook  temp  humidity  wind
0     0        2     1         0     1
1     6        2     1         0     0
2     7        0     1         0     1
3     8        1     2         0     1
4     9        1     0         1     1
5    10        1     0         1     0
6    11        0     0         1     0
7    12        2     2         0     1
8    13        2     0         1     1
9     1        1     2         1     1
10    2        2     2         1     0
11    3        0     2         0     0
12    4        0     1         1     1
13    5        1     2         0     0

In [ ]:
Y=df['play']

In [ ]:
Y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: play, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,y_train,x_test,y_test=train_test_split(X,Y,test_size=0.1,stratify=Y,random_state=1)

In [ ]:
x_train

    day  outlook  temp  humidity  wind
1     6        2     1         0     0
12    4        0     1         1     1
5    10        1     0         1     0
0     0        2     1         0     1
3     8        1     2         0     1
2     7        0     1         0     1
6    11        0     0         1     0
11    3        0     2         0     0
4     9        1     0         1     1
13    5        1     2         0     0
10    2        2     2         1     0
8    13        2     0         1     1

In [ ]:
y_train

   day  outlook  temp  humidity  wind
9    1        1     2         1     1
7   12        2     2         0     1

In [ ]:
x_test

1     0
12    1
5     0
0     0
3     1
2     1
6     1
11    1
4     1
13    0
10    1
8     1
Name: play, dtype: int64

In [ ]:
y_test

9    1
7    0
Name: play, dtype: int64

Calculation of entropy using information gain

In [ ]:
total=len(df['play'])
total

14

In [ ]:
df['play'].value_counts()

1    9
0    5
Name: play, dtype: int64

In [ ]:
df1=tennis.groupby('play').count()

In [ ]:
df1

      day  outlook  temp  humidity  wind
play
No      5        5     5         5     5
Yes     9        9     9         9     9

In [ ]:
prob_yes=(9/(total))
prob_yes

0.6428571428571429

In [ ]:
prob_no=(5/(total))
prob_no

0.35714285714285715

In [ ]:
from numpy import log2 as log2
import numpy as np

In [ ]:
#Entropy

entropy = -(prob_yes)*log2(prob_yes)-(prob_no)*log2(prob_no)

In [ ]:
entropy

0.9402859586706309

**Entropy of whole dataset**

In [ ]:
entropy= 0  
values = tennis.play.unique()  
for value in values:
    prob = tennis.play.value_counts()[value]/len(tennis.play)  
    entropy+= -prob*np.log2(prob)
entropy

0.9402859586706309

#**Entropy of filtered dataset**

In [ ]:
def calc_total_entropy(train_data, label, class_list):
    total_row = train_data.shape[0] #the total size of the dataset
    total_entr = 0
    
    for c in class_list: #for each class in the label
        total_class_count = train_data[train_data[label] == c].shape[0] #number of the class
        total_class_entr = - (total_class_count/total_row)*np.log2(total_class_count/total_row) #entropy of the class
        total_entr += total_class_entr #adding the class entropy to the total entropy of the dataset
    
    return total_entr

In [ ]:
def calc_entropy(feature_value_data, label, class_list):
    class_count = feature_value_data.shape[0]
    entropy = 0
    
    for c in class_list:
        label_class_count = feature_value_data[feature_value_data[label] == c].shape[0] #row count of class c 
        entropy_class = 0
        if label_class_count != 0:
            probability_class = label_class_count/class_count #probability of the class
            entropy_class = - probability_class * np.log2(probability_class)  #entropy
        entropy += entropy_class
    return entropy

#**1. outlook**

In [ ]:
sunny=tennis.loc[tennis['outlook'] == 'Sunny']
sunny

    day outlook  temp humidity    wind play
0    D1   Sunny   Hot     High    Weak   No
1    D2   Sunny   Hot     High  Strong   No
7    D8   Sunny  Mild     High    Weak   No
8    D9   Sunny  Cool   Normal    Weak  Yes
10  D11   Sunny  Mild   Normal  Strong  Yes

In [ ]:
rain=tennis.loc[tennis['outlook'] == 'Rain']
rain

    day outlook  temp humidity    wind play
3    D4    Rain  Mild     High    Weak  Yes
4    D5    Rain  Cool   Normal    Weak  Yes
5    D6    Rain  Cool   Normal  Strong   No
9   D10    Rain  Mild   Normal    Weak  Yes
13  D14    Rain  Mild     High  Strong   No

In [ ]:
overcast=tennis.loc[tennis['outlook'] == 'Overcast']
overcast

    day   outlook  temp humidity    wind play
2    D3  Overcast   Hot     High    Weak  Yes
6    D7  Overcast  Cool   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes

In [ ]:
calc_entropy(sunny,"play",values)

0.9709505944546686

In [ ]:
calc_entropy(rain,"play",values)

0.9709505944546686

In [ ]:
calc_entropy(overcast,"play",values)

0.0

In [ ]:
def calc_info_gain(feature_name, train_data, label, class_list):
    feature_value_list = train_data[feature_name].unique() #unqiue values of the feature
    total_row = train_data.shape[0]
    feature_info = 0.0
    
    for feature_value in feature_value_list:
        feature_value_data = train_data[train_data[feature_name] == feature_value] #filtering rows with that feature_value
        feature_value_count = feature_value_data.shape[0]
        feature_value_entropy = calc_entropy(feature_value_data, label, class_list) #calculcating entropy for the feature value
        feature_value_probability = feature_value_count/total_row
        feature_info += feature_value_probability * feature_value_entropy #calculating information of the feature value
        
    return calc_total_entropy(train_data, label, class_list) - feature_info #calculating information gain by subtracting

In [ ]:
calc_info_gain("outlook", tennis,'play',values)

0.2467498197744391

#**2.Humidity**

In [ ]:
high=tennis.loc[tennis['humidity'] == 'High']
high

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
7    D8     Sunny  Mild     High    Weak   No
11  D12  Overcast  Mild     High  Strong  Yes
13  D14      Rain  Mild     High  Strong   No

In [ ]:
low=tennis.loc[tennis['humidity'] == 'low']
low

Empty DataFrame
Columns: [day, outlook, temp, humidity, wind, play]
Index: []

In [ ]:
calc_entropy(low,"play",values)

0

In [ ]:
calc_entropy(high,"play",values)

0.9852281360342515

In [ ]:
calc_info_gain("humidity", tennis,'play',values)

0.15183550136234136

#**3.Temperature**

In [ ]:
hot=tennis.loc[tennis['temp'] == 'Hot']
hot

    day   outlook temp humidity    wind play
0    D1     Sunny  Hot     High    Weak   No
1    D2     Sunny  Hot     High  Strong   No
2    D3  Overcast  Hot     High    Weak  Yes
12  D13  Overcast  Hot   Normal    Weak  Yes

In [ ]:
cool=tennis.loc[tennis['temp'] == 'Cool']
cool

  day   outlook  temp humidity    wind play
4  D5      Rain  Cool   Normal    Weak  Yes
5  D6      Rain  Cool   Normal  Strong   No
6  D7  Overcast  Cool   Normal  Strong  Yes
8  D9     Sunny  Cool   Normal    Weak  Yes

In [ ]:
mild=tennis.loc[tennis['temp'] == 'Mild']
mild

    day   outlook  temp humidity    wind play
3    D4      Rain  Mild     High    Weak  Yes
7    D8     Sunny  Mild     High    Weak   No
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
13  D14      Rain  Mild     High  Strong   No

In [ ]:
calc_entropy(hot,"play",values)

1.0

In [ ]:
calc_entropy(cool,"play",values)

0.8112781244591328

In [ ]:
calc_entropy(mild,"play",values)

0.9182958340544896

In [ ]:
calc_info_gain("temp", tennis,'play',values)

0.029222565658954647

#**4.Wind**

In [ ]:
weak=tennis.loc[tennis['wind'] == 'Weak']
weak

    day   outlook  temp humidity  wind play
0    D1     Sunny   Hot     High  Weak   No
2    D3  Overcast   Hot     High  Weak  Yes
3    D4      Rain  Mild     High  Weak  Yes
4    D5      Rain  Cool   Normal  Weak  Yes
7    D8     Sunny  Mild     High  Weak   No
8    D9     Sunny  Cool   Normal  Weak  Yes
9   D10      Rain  Mild   Normal  Weak  Yes
12  D13  Overcast   Hot   Normal  Weak  Yes

In [ ]:
strong=tennis.loc[tennis['wind'] == 'Strong']
strong

    day   outlook  temp humidity    wind play
1    D2     Sunny   Hot     High  Strong   No
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
13  D14      Rain  Mild     High  Strong   No

In [ ]:
calc_entropy(weak,"play",values)

0.8112781244591328

In [ ]:
calc_entropy(strong,"play",values)

1.0

In [ ]:
calc_info_gain("wind", tennis,'play',values)

0.04812703040826927

#Root Node

In [ ]:
def find_most_informative_feature(train_data, label, class_list):
    feature_list = train_data.columns.drop(label) #finding the feature names in the dataset
                                            #N.B. label is not a feature, so dropping it
    max_info_gain = -1
    max_info_feature = None
    
    for feature in feature_list:  #for each feature in the dataset
        feature_info_gain = calc_info_gain(feature, train_data, label, class_list)
        if max_info_gain < feature_info_gain: #selecting feature name with highest information gain
            max_info_gain = feature_info_gain
            max_info_feature = feature
            
    return max_info_feature

In [ ]:
find_most_informative_feature(df1,"play",values)

'outlook'

#Tree Generation

In [ ]:
def generate_sub_tree(feature_name, train_data, label, class_list):
    feature_value_count_dict = train_data[feature_name].value_counts(sort=False) #dictionary of the count of unqiue feature value
    tree = {} #sub tree or node
    
    for feature_value, count in feature_value_count_dict.iteritems():
        feature_value_data = train_data[train_data[feature_name] == feature_value] #dataset with only feature_name = feature_value
        
        assigned_to_node = False #flag for tracking feature_value is pure class or not
        for c in class_list: #for each class
            class_count = feature_value_data[feature_value_data[label] == c].shape[0] #count of class c

            if class_count == count: #count of feature_value = count of class (pure class)
                tree[feature_value] = c #adding node to the tree
                train_data = train_data[train_data[feature_name] != feature_value] #removing rows with feature_value
                assigned_to_node = True
        if not assigned_to_node: #not pure class
            tree[feature_value] = "?" #should extend the node, so the branch is marked with ?
            
    return tree, train_data

In [ ]:
generate_sub_tree("outlook",df1,'play',values)

({'Sunny': '?', 'Overcast': 'Yes', 'Rain': '?'},
    outlook  temp humidity    wind play
 0    Sunny   Hot     High    Weak   No
 1    Sunny   Hot     High  Strong   No
 3     Rain  Mild     High    Weak  Yes
 4     Rain  Cool   Normal    Weak  Yes
 5     Rain  Cool   Normal  Strong   No
 7    Sunny  Mild     High    Weak   No
 8    Sunny  Cool   Normal    Weak  Yes
 9     Rain  Mild   Normal    Weak  Yes
 10   Sunny  Mild   Normal  Strong  Yes
 13    Rain  Mild     High  Strong   No)

In [ ]:
def make_tree(root, prev_feature_value, train_data, label, class_list):
    if train_data.shape[0] != 0: #if dataset becomes enpty after updating
        max_info_feature = find_most_informative_feature(train_data, label, class_list) #most informative feature
        tree, train_data = generate_sub_tree(max_info_feature, train_data, label, class_list) #getting tree node and updated dataset
        next_root = None
        
        if prev_feature_value != None: #add to intermediate node of the tree
            root[prev_feature_value] = dict()
            root[prev_feature_value][max_info_feature] = tree
            next_root = root[prev_feature_value][max_info_feature]
        else: #add to root of the tree
            root[max_info_feature] = tree
            next_root = root[max_info_feature]
        
        for node, branch in list(next_root.items()): #iterating the tree node
            if branch == "?": #if it is expandable
                feature_value_data = train_data[train_data[max_info_feature] == node] #using the updated dataset
                make_tree(next_root, node, feature_value_data, label, class_list) #recursive call with updated dataset

In [ ]:
def id3(train_data_m, label):
    train_data = train_data_m.copy() #getting a copy of the dataset
    tree = {} #tree which will be updated
    class_list = train_data[label].unique() #getting unqiue classes of the label
    make_tree(tree, None, train_data_m, label, class_list) #start calling recursion
    return tree

In [ ]:
tree = id3(df1, 'play')
tree

{'outlook': {'Sunny': {'humidity': {'High': 'No', 'Normal': 'Yes'}},
  'Overcast': 'Yes',
  'Rain': {'wind': {'Weak': 'Yes', 'Strong': 'No'}}}}